 html, body {
	 margin:0;
	 padding:0;
 }
 #blackout {
	width:100%;
	height:100%;
	/*opacity:.95;*/
	top:0;
	left:0;
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, .75);
	overflow: auto;
}
div#popup {
	display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

form {
	max-width: 500px;
	min-width: 250px;
	padding: 10px 50px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: #FFFFFF;
	font-family: 'Lusitana', serif;
	opacity: 1;
}
main {
	max-width: 80%;
	margin: 0 auto 0 auto;
	background-color: rgba(248, 248, 255, .7);
	padding-top: 1em;
	padding-bottom: 3em;
	min-height: 100%;
	/*display: flex;*/
	border-left: 1px solid black;
	border-right: 1px solid black;
}

footer {
	/*text-align: center;*/
/*	bottom: 0em;
	width: 100%;*/
	padding-top: 1em;
	padding-bottom: 1em;
	/*position: fixed;*/
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	min-height: 4em;
	min-width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .7);
}

section {
	width: 80%;
	text-align: center;
	margin: 2em auto 1em auto;
}
.gameText {
	text-align: left;
	margin-top: 1.5em;
	margin-bottom: 2em;
}
hr {
	border: 0;
	background-color: gray;
	height: 1px;
	width: 100%;
	text-align: left;
	margin-bottom: 2em;
}
.gamePic {
	width: 80%;
	min-width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: .5em;*/
}
button:hover {
  opacity: .65;
  cursor: pointer;
}
#indexBody {
	background: url("img/background-img-3.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
#gameBody {
	background: url("img/background-img-5.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
#aboutBody {
	background: url("img/background-img-4.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	/*justify-content: space-around;*/
	min-width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .8);
	padding-left: 10%;
	height: 6em;
	padding-top: 1em;
	/*padding-bottom: 1em;*/
}
img {
	padding-bottom: 2em;
}
header nav {
	display: inline-block;
	padding-top: 2em;
	padding-bottom: 2em;
/*	margin-left: auto;
	margin-right: auto;*/
	text-align: center;
}
li #header-logo {
	margin: 0em;
	position: absolute;
	left: 1em;
	top: 0em;
	margin-bottom: 4em;
	/*padding-bottom: 4em;*/
	z-index: 999;
}
nav ul {
	margin: 0em;
	padding: 0em;
	display: inline-block;
}
nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5em;
	margin-left: 5em;
	color: white;
	font-weight: bold;
	min-width: 100px;
	/*height: 42px;*/
}
nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 2em;
}

/*img {
	margin-bottom: -30px;
}*/
#aboutUs{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	/*justify-content: space-around;*/
}

#aboutUsMain {
	max-width: 80%;
	margin: auto;
	/*background-color: none;*/
}

.bioSec {
	width: 40%;
	padding: 1em;
	border: 1px solid black;
	/*margin-bottom: 5%;*/
	min-width: 150px;
	/*margin-top: 5% 0 2.5% 0;*/
	background-color: rgba(248, 248, 255, .8);
}
.bioPic{
	float: left;
	width: 40%;
	/*height: 30%;*/
	/*padding-right: 1.5em;*/
	padding-bottom: 2em;
	/*vertical-align: center;*/
	/*display: inline-block;*/
}

.bioName{
	font-size: 2em;
}
.bioul {
	clear: both;
	float: left;
	margin-top: -.5em;
	text-align: left;
}
p.biotext {
	float: left;
	clear: both;
	text-align: left;
}
/*#test {
	clear: both;
}*/
#bio1, #bio2 {
	margin-top: 5%;
}
#bio3, #bio4 {
	margin-top: 2.5%;
	margin-bottom: 5%;
}



