 html, body {
	 margin:0;
	 padding:0;
	 height: 100%;
 }

 #blackout {
	width:100%;
	height:100%;
	/*opacity:.95;*/
	top:0;
	left:0;
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, .75);
	overflow: auto;
}

div#popup {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	margin-top: 5%;
}

a {
	text-decoration: none;
	color: #2a5db0;
}

a:hover {
	color: #D9723D;
}

body.game a.game, body.about a.about {
	/*background-color: green;*/
	text-decoration: underline;
	cursor: default;
}

form {
	max-width: 500px;
	min-width: 250px;
	padding: 10px 50px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: #FFFFFF;
	font-family: 'Lusitana', serif;
	opacity: 1;
}

main {
	max-width: 70%;
	margin: 0 auto 0 auto;
	background-color: rgba(248, 248, 255, .7);
	padding-top: 1em;
	padding-bottom: 3em;
	height: 100%;
	/*display: flex;*/
	border-left: 1px solid black;
	border-right: 1px solid black;
}

footer {
	padding-top: 1em;
	padding-bottom: 1em;
	/*position: fixed;*/
	display: flex;
	/*flex-flow: row wrap;*/
	align-items: center;
	justify-content: space-around;
	height: 3em;
	min-width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .7);
	position: relative;
	bottom: 0;
}


header {
	display: flex;
	/*flex-flow: row wrap;*/
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 5.5em;
	background: rgba(0, 0, 0, .8);
	/*padding-left: 10%;*/
	/*overflow: hidden;*/
}

#header_wrapper {
	width: 80%;
}

#header-logo {
	/*padding-left: 20%;*/
	max-width: 80%;
	min-width: 150px;
	/*width: 90%;*/
	padding: 0;
	/*height: 80%;*/
	margin-top: .25em;
}

nav {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
	align-items: center;
	width: 80%;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    color: white;
	font-weight: bold;
	font-size: 2em;
}


nav ul li a {
	text-decoration: none;
	color: #F2EBC9;
	font-weight: bold;
	/*font-size: 1em;*/
	display: block;
}

nav ul li a:hover {
	color: #D9723D;
}
#indexBody {
	background: url("img/background-img-3.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

#gameBody {
	background: url("img/background-img-5.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	/*overflow: hidden;*/
}

#aboutBody {
	background: url("img/background-img-4.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

section {
	width: 95%;
	text-align: center;
	margin: 2em auto 1em auto;
}
.gamePic {
	width: 80%;
	/*min-width: 300px;*/
	display: flex;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: .5em;*/
	padding-bottom: 1.5em;
}

.gameText {
	text-align: left;
	/*margin-top: .5em;*/
	margin-bottom: 2em;
	/*font-size: 1.5em;*/
	width: 80%;
	margin: 0 auto 1.5em auto;
	font-size: 1em;
}

p.gameText:first-letter, p.biotext:first-letter {
	font-size: 1.5em;
}

hr {
	border: 0;
	background-color: gray;
	height: 1px;
	width: 100%;
	text-align: left;
	margin-bottom: 2em;
}


button:hover {
  opacity: .65;
  cursor: pointer;
}

#aboutUs{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	/*justify-content: space-around;*/
}

#aboutUsMain {
	max-width: 80%;
	margin: auto;
	/*background-color: none;*/
}

.bioSec {
	width: 40%;
	padding: 1em;
	border: 1px solid black;
	/*margin-bottom: 5%;*/
	min-width: 225px;
	/*margin-top: 5% 0 2.5% 0;*/
	background-color: rgba(248, 248, 255, .8);
}

.bioPic {
	float: left;
	width: 40%;
	/*height: 30%;*/
	/*padding-right: 1.5em;*/
	/*padding-bottom: .;*/
	/*vertical-align: center;*/
	/*display: inline-block;*/
	padding-right: 1em;
	display: inline-block;
	text-align: center;
	padding-bottom: 1.5em;
}

.bioName{
	font-size: 2em;
	/*display: inline-block;*/
	vertical-align: middle;
}

.bioul {
	clear: both;
	float: left;
	margin-top: -.25em;
	text-align: left;
	list-style-type: square; 
}

p.biotext {
	float: left;
	clear: both;
	text-align: left;
	margin-top: -.5em;
}

#bio1, #bio2 {
	margin-top: 5%;
}
#bio3, #bio4 {
	margin-top: 2.5%;
	margin-bottom: 5%;
}

