* {
	font-family: 'Lusitana', serif;
}

body {
	background-color: #262623;
	color: black;
}


h1 {
	color: #A69856;
	text-align: center;
	font-size: 40px;
}

h2 {
	color: #D9CE96;
	text-align: center;
	font-size: 30px;
	margin: -3px;
}

article.welcome {
	margin: auto;
	text-align: center;
}

button {
	border: none;
	background: #F2EBC9;
	color: #A69856;
	width: 200px;
	font-size: 30px;
	margin: 0px auto;
	text-align: center;
	margin: auto;
}

footer {
	color: #D9CE96;
	font-size: 10px;
}
.bioName{
	font-size: 2em;
}


