* {
	font-family: 'Lusitana', serif;
}

body {
	background-color: #262623;
	color: black;
}


h1 {
	color: #A69856;
	text-align: center;
	font-size: 3em;
	text-shadow: -.5px .5px .5px #000;
}

h2 {
	color: #A69856;
	text-align: center;
	font-size: 2.5em;
	margin: -3px;
	text-shadow: -.5px .5px .5px #000;
}

article.welcome {
	margin: auto;
	text-align: center;
}

button#chooseChar {
	background: #F2EBC9;
	color: #736830;
	width: 30%;
	margin: 0px auto;
	text-align: center;
	margin: auto;
	/*padding-left: 1em;*/
	border: 1px solid #736830;
	font-size: 110%;
	height: 3em;
	/*margin-top: 1em;*/
}
button#startGame {
	background: #F2EBC9;
	color: #736830;
	width: 30%;
	margin: 0px auto;
	text-align: center;
	margin: auto;
	/*padding-left: 1em;*/
	border: 1px solid #736830;
	font-size: 110%;
	height: 3em;
	/*margin-top: 1em;*/
}
button.game {
	background: #F2EBC9;
	color: #736830;
	width: 80%;
	height: 4em;
	font-size: 110%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 1em;
	border: 1px solid #736830;
}

footer {
	color: #D9CE96;
	font-size: 10px;
}

input[type="text"] {
  display: inline-block;
  margin-left: 1em;
  width: 60%;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.form-text {
	font-weight: bold;
}


